@import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Roboto:wght@300;700&display=swap");

body {
  background-color: #166a77;
  text-align: center;
  color: #222222;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px){
  body {
    background-color: #72dbeb;
  }
}

h1 {
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: normal;
  font-size: 56px;
}

h2 {
  font-size: 34px;
}

.moments {
  padding-top: 15px;
  background-color: #efddc7;
  width: auto;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.all.list {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

.site-header p {
  margin: 0 auto 26px;
  text-align: center;
  font-size: 30px;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.3);
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quote {
  font-family: "Pinyon Script", cursive;
}
